.TodoList {
    width: 600px;
   
}

.TodoList_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
}

.TodoList_text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.TodoList_button{
    background-color: #fff;
    padding: 10px;
}